<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>ride</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="ride">
        <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg"/>
        <ion-card-header>
            <ion-card-subtitle>{{ride.start | date}}</ion-card-subtitle>
            <ion-card-title>{{ride.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item routerLink="/ride-form/{{ride.id}}">
                <ion-label>
                    <ion-icon name="create" slot="start"></ion-icon>
                    Edit
                </ion-label>
            </ion-item>
            <ion-item (click)="delete(ride.id)">
                <ion-label color="danger">
                    <ion-icon name="trash" slot="start"></ion-icon>
                    Delete
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
