<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="credential.email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="credential.password" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="!isLoggingIn">
      <ion-label>Confirm your password</ion-label>
      <ion-input [(ngModel)]="credential.passwordConfirm" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <p *ngIf="!isLoggingIn">Are you signed up? <a (click)="toggleLogin()">Click here</a></p>
    <p *ngIf="isLoggingIn">Sign up <a (click)="toggleLogin()">Click here</a></p>
    <ion-button (click)="login()" class="ion-activable" expand="block">Login</ion-button>
  </div>
</ion-content>
